* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #607b8a;
    font-family: "poppoins", sans-serif;
}

#container {
    max-width: 950px;
    width: 100%;
    max-height:500px;
    height: 100%;
    box-shadow: 0 0 50px  rgba(0, 0, 0, 1.5);
    color: white;
    border-radius: 20px;
    background-color: #00000076;
}

.upper_top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-direction: row-reverse;
}

#range{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.583);
    font-weight: 600;
}

#btn_play_again{
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #cb3050;
    border-radius: 30px;
    color: white;
}

#title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.583);
    text-shadow: 0 0 5px #050001;
    text-decoration: wavy underline;
}

#line {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.583)
}

#hiden_number {
    text-align: center;
    font-size: 3rem;
    background-color: #cb3050;
    border-radius: 4px;
    width: 15%;
    margin: -25px auto;
    color: #fff;
}

.down_side {
    display: flex;
    margin: 7rem;
    justify-content: space-evenly;
}

.down_left_side {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

#number_input {
    width: 40%;
    height: 2.5rem;
    text-align: center;
    border-radius: 30px;
    font-size: 2rem;
}

#btn_check {
    width: fit-content;
    padding: 0.4rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #cb3050;
    border-radius: 30px;
    color: white;
}

.down_rigth_side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#message {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.583);
}

#score {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.583);
}

#high_score {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.583);
}


/* --------Media Query----------- */
@media screen and (max-width: 768px) {
    #container {
        width: 90%;
        flex-direction: column;
    }

    #btn_play_again {
        font-size: small;
    }

    #range {
        font-size: small;
    }


    #title {
        font-size: 2rem;
    }

    .down_side {
        margin: 50;
    }

    .down_left_side {
        width: 100%;
        margin-bottom: 1rem;
    }

    #btn_check {
        font-size: small;
    }

    .down_rigth_side {
        display: flex;
        width: 100%;
    }

    #message {
        font-size: small;
    }

    #score{
        font-size: small;
    }

    #high_score{
        font-size: small;
    }
}