* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.container {
    width: 80vw;
    padding: 10px;
    border: 1px solid rgb(16, 16, 16);
    box-shadow: 1px 1px 10px rgb(128, 128, 128);
    margin: 35px auto;
    border-radius: 10px;
}

#container_question {
    display: flex;
    justify-content: space-between;
}

#question {
    padding:10px;
}

.btn {
    border: 1px solid rgb(179, 233, 15);
    padding:4px;
    color: rgb(179, 233, 15);
    cursor: pointer;
    font-size: larger;
}

.btn:hover {
    text-decoration: underline;
}

.btn:active {
    border: 1px solid red;
    color: red
}

.fa-solid {
    font-size: 30px;
    cursor: pointer;
}

#line {
    border: 1px solid rgb(194, 195, 190);
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}

#answer {
    display: none;
    padding:10px;
}

#minus_sign {
    display:none;
}